
.text-center[data-v-7e1f20f3] {
  text-align: center;
}



.text-center[data-v-5d1bd3ef] {
  text-align: center;
}



.text-center[data-v-d02e9124] {
  text-align: center;
}


.text-center[data-v-d3fce1a6] {
  text-align: center;
}

